// global transition css

/* fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}


/* breadcrumb transition */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}
.el-dialog__header {
  background: #f9f9f9;
  border-bottom: 1px solid #e9e9e9;
  padding: 15px 20px;
  padding-bottom: 15px;
}

.app-container{background:#fff;height: 100%;overflow: auto;}
// .app-container .app-body{padding:10px;}
.app-container .header{padding:10px 20px;background-color: #f9f9f9;border-bottom: 1px solid #eaeaea;}
.app-container .header .option-btn{float: right;position: relative;top: 3px;}
.app-container .header .option-btn .el-button--mini{padding:5px 10px}
.app-container .header .option-btn .iconI{font-size: 23px;cursor: pointer;margin-right: 20px; position: relative;top: 5px;
  &:hover{
    color:#0270C1
  }}
.app-container .icon-title{margin-right:15px;background:#5799E5;color:#fff;padding:8px;border-radius:50%}
.app-container .query-box{padding:10px 10px}
.app-container .query-box .el-form-item{margin-bottom:0px}
.tree-box,.border-right{border-right:1px solid #eaeaea;    height: 100%;}
.padding-10{padding:10px}
.padding-15{padding:15px}
/* 高级搜索按钮 及pove框样式----开始*/
.search-box{
  width:100%;text-align: right;padding-bottom:10px;position: relative;
  .common-search-text{
    width:25%;right:95px;
    .el-input__inner{
      border-bottom-right-radius:0px;border-top-right-radius:0px;
    }
  }
  .height-search-btn{
    z-index: 1;
    position: absolute;
    padding:8px 20px;
    right:0px;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
  }
  .height-search-show-btn{
    position: absolute;
    z-index: 9999;
    padding:8px 20px 16px 20px;
    right:0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid #DCDFE6!important;
      border-color: #DCDFE6!important;
      color:#606266!important;
    border-bottom: none!important;
  }
}


.select-box{
  width:100%;text-align: left;padding-bottom:10px;padding-left:10px;
  .common-search-text{
    width:40%;
    .el-input__inner{
      border-bottom-right-radius:0px;border-top-right-radius:0px;
    }
  }
  .height-search-btn{
    z-index: 1;
    position: relative;
    padding:8px 20px;
    margin-left:-5px;
    border-bottom-left-radius:0px;
    border-top-left-radius:0px;
  }
}
.search-pover{
  padding:20px;  
  transform:translate(-4px,-6px);
  .popper__arrow{display:none;}
  .search-form-box{padding:15px 0px;width:95%;overflow: auto;padding-right:5%}
  .search-options-btns{padding-top:15px;width:100%;border-top:1px solid #ebebeb;text-align: center;}
  .search-header{
    color: #484848;
    padding-left: 10px;
    border-bottom: 1px solid #ebebeb;
    line-height: 45px;
  }
}
/* 高级搜索按钮 及pove框样式----结束*/

.btn-pover{padding:0}
ul.btns{padding:0;margin:0px}
ul.btns li{list-style: none;padding:10px 20px;cursor:pointer}
ul.btns li:hover{background:#e6e6e6}
.btn-list{cursor:pointer;    margin-left: 10px;}
.fa.icon{margin-right:5px}

.header-content{
  padding:15px;
  position:relative;
  text-align: center;
  border-bottom:1px solid  #DCDFE6;
  margin-bottom:20px;
  .title{
    font-size: 20px;
  }
  .iconI{
    position :absolute;
    left:10px;
    cursor:pointer;
    &:hover{
      color:#0270C1
    }
  }
}
.el-input{width:100%}
.el-select{width:100%}
.table-btn{
  font-family: sans-serif;
   padding:7px 0px;
  text-align:center;   
  font-size: 12px;
  color:#409EFF;
  cursor: pointer;
  .icon{margin-right: 5px;}
}
.el-button+.table-btn.delete-btn,.table-btn.delete-btn+.el-button{ margin-left: 10px;}
.table-btn.delete-btn{
  color:#d92b48;
}
.flame-error-info{width:80%;
  .el-message__content{
    word-break: break-all;
  }}
// 登录会话超时提示框样式------
.error-info-message-box{
  padding:10px 10px 10px 46px;
  .icon{
    position: absolute;
    color:#FFBA00;
    font-size:24px;
    left:25px;
  }
  .error-txt{
    font-size:14px;
  }
}
.error-info-detail-box{
  display:none;
  margin-top: 10px;
  padding-top: 10px; 
  border-top: 1px solid #dfe6ec;
  .error-log-box{
    overflow:auto;
    max-height:250px
  }
}
//----------