package {{ package }};

@Data
{% if has_base_class %}
@EqualsAndHashCode(callSuper = true)
{% else %}
@EqualsAndHashCode(callSuper = false)
{% endif %}
public class {{ entity_name }}Dto{% if has_base_class %} extends {{ dto_base_class }}{% endif %} {

{% for field in fields %}
    @ApiModelProperty(value="{{ field.label }}")
    private {{ field.type }} {{ field.name }};

{% endfor %}
}