package {{ package }};

@Entity
@Immutable
@Subselect("{{ subselect }}")
@Data
{% if has_base_class %}
@EqualsAndHashCode(callSuper = true)
{% endif %}
public class {{ entity_name }}{% if has_base_class %} extends {{ entity_base_class }}{% endif %} {

{% for field in fields %}
    @ApiModelProperty(value = "{{ field.label }}")
    {% if field.id %}
    @Id
    {% endif %}
    {% if field.column %}
    @Column(name = "{{ field.column }}")
    {% endif %}
    private {{ field.type }} {{ field.name }};

{% endfor %}
}