package {{ package }};

import {{ entity_package }}.{{ entity_name }};
import org.springframework.data.jpa.repository.JpaRepository;
import org.springframework.stereotype.Repository;

{% if has_base_class %}
@Repository
public interface {{ entity_name }}Repository extends {{ repository_base_class }}<{{ entity_name }}, {{ id_type }}> {
}
{% else %}
@Repository
public interface {{ entity_name }}Repository extends JpaRepository<{{ entity_name }}, {{ id_type }}> {
}
{% endif %}