package {{ package }};

import {{ entity_package }}.{{ entity_name }};
import {{ dto_package }}.{{ entity_name }}Dto;

{% if has_base_class %}
public interface {{ entity_name }}Service extends {{ service_base_class }}<{{ entity_name }}, {{ entity_name }}Dto, {{ id_type }}> {
}
{% else %}
public interface {{ entity_name }}Service {
    // 可以在此定义服务方法
}
{% endif %}